[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-cors-headers = "*"
djangorestframework = "==3.12.4"
pyjwt = "*"
django = "===3.2.8"

[dev-packages]

[requires]
